/*https://github.com/chenglou/react-motion
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-Body {
  float: right;
  width: 80%;
}

.App-intro {
  font-size: large;
}

.card-button {
  width: 40%;
}

.card-size {
  width: 300px;
}

.content-body {
  display:flex;
  flex-direction: row;
}

.wrap-emails {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  position: relative;
  float: right;
  margin-right: 10%;
}

.text-input-50 {
  width: 50%;
}

.printerTitle {
  width: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.display-box {
  display: flex;
}

.button-link {
  background-color: transparent;
  border: none;
}

.button-link:hover {
  color: blue;
  text-decoration: underline;
}
.button-link:focus{
  outline: 0px;
}

.MainBox {
  width: auto;
}
