/*https://github.com/chenglou/react-motion
*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card-button {
  width: 40%;
}

.card-size {
  width: 30%;
}

.SideBar {
  width: 20%;
  float: left;
  height: 100vh;
  background-color: #2a00fa
}

.MainBox{
  width: auto;
}

.rcorner{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
